/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    width: 960px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container{
    margin: 20px auto;
    
}
.container > form > input {
    padding: 10px 20px;
    width: 24rem;
    height: 5vh;
}
.container > form > button {
    padding: 10px 20px;
    border-left: none;
    height: 5vh;
}
.listContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.listContainer > div{
    margin: 5px auto;
    border: 2px solid black;
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.listContainer > div > li {
    display: inline;
    padding: 10px 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.listContainer > div > button {
    padding: 10px 20px;
    border: none;
    border-left: 2px solid black;
    background-color: rgba(0, 0, 255, 0.374);
    width: 6rem;
} */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    margin: 20px auto;
    width: 100%;
}

.container>form {
    display: flex;
    /* added to make the input and button in the same line */
    align-items: center;
    /* added to vertically center the input and button */
    justify-content: center;
}

.container>form>input {
    padding: 0.5rem 1rem;
    width: 60%;
    /* same as listContainer */
    height: 50px;
    /* same as listContainer */
    font-size: 1rem;
    /* border-radius: 5px; */
    border-right: none;
}

.container>form>button {
    padding: 0.5rem 1rem;
    border-left: none;
    height: 50px;
    /* same as listContainer */
    background-color: rgba(0, 0, 255, 0.526);
    color: white;
    cursor: pointer;
    width: 20%;
    border-left: 2px solid black;
    /* border-radius: 5px; */
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
}

.listContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listContainer>div {
    margin: 5px auto;
    border: 2px solid black;
    width: 80%;
    display: flex;
    align-items: center;
    /* added to vertically center the list items and the delete button */
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}

.listContainer>div>li {
    padding: 0 1rem;
    font-size: 1.2rem;
    flex: 1;
    /* added to make the list items take up the available space */
    list-style: none;
}

.listContainer>div>button {
    padding: 0.5rem 1rem;
    border: none;
    border-left: 2px solid black;
    background-color: rgba(0, 0, 255, 0.374);
    cursor: pointer;

}